{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}

{% block content %}
{% load static %}

<div class="card">
  <div class="container">
    <div class="card-img-overlay">
      <div class="col-12 col-md-5">
        <div class="card-header" style="background-color: #eaeaec">
        <h2>Привет, я автор данного творения!</h2>
          <p>
            Я из <s>холодного, как Девятый круг Ада</s> 
            небольшого городка в Западной Сибири<span>&#128153;</span>.<br>
            
            Мне ещё предстоит многому научиться, прежде чем я покорю мир своим кодом!<span>&#128187;</span><br>
            
            В задании меня попросили рассказать кто мне помогал, у меня есть земечательные товарищи 
            в <span>&#129375;</span> когорте, 
            которые всегда приходят на помощь в трудную минуту!<br>
            
            Чтобы было немного веселее, тут будет лисичка. Да! Вот так! 
            Потому что могу себе позволить!<span>&#129418;</span> 
          </p>
        </div>
      </div>
    </div>
  </div>
  <a>
    <img src="{% static 'img/4.png' %}" width="100%" height="100%" alt="">
  </a>
</div>
{% endblock %}
