{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}

{% block content %}
{% load static %}
<center>
  <h1>Привет, я автор данного творения!</h1>
    <p>
      Я из <s>холодного, как Девятый круг Ада</s> 
      небольшого городка в Западной Сибири<span>&#128153;</span>.<br>
      
      В программировании я совсем новичок, поэтому многого не знаю и не умею, 
      кажется становится лучше, но это не точно.<span>&#128568;</span><br>
      
      В задании меня попросили рассказать кто мне помогал, моего котика давно уже нет, 
      но зато у меня есть классные товарищи в пельменной<span>&#129375;</span>когорте, 
      которые всегда приходят на помощь!<br>
      
      Красивого сетапа рабочего стола у меня нет, зато есть мрачные фоточки снежочка и цветов
      (<i>за фоточками красивых кустов, цветочков и леса обращаться на 
      <a href="https://github.com/UnskillfulProg" target="_blank">GitHub</a></i><span>&#127794;</span>).<br>
    </p>
    <a>
      <img src="{% static 'img/1.jpg' %}" width="400" height="600" alt="">
      <img src="{% static 'img/2.jpg' %}" width="400" height="600" alt="">
    </a>
</center>
{% endblock %}
