{% extends "base.html" %}
{% block title %}Технологии{% endblock %}

{% block content %}
{% load static %}
<div class="row">
  <h1 align="center">Используемые технологии</h1>
  <aside class="col-12 col-md-3">
    <ul class="card list-group">
      <center>
      <li class="list-group-item">
        <a class="btn btn-lg btn-light"
          href="https://www.python.org/" target="_blank">
          <span>&#128013;</span>Python 
        </a>
      </li>
      <li class="list-group-item">
        <a class="btn btn-lg btn-light"
          href="https://www.djangoproject.com/" target="_blank">
          <span>&#128174;</span>Django
        </a>
      </li>
      <li class="list-group-item">
        <a class="btn btn-lg btn-light"
          href="http://htmlbook.ru/html" target="_blank">
          <span>&#129518;</span>HTML
        </a>
      </li>
      <li class="list-group-item">
        <a class="btn btn-lg btn-light"
          href="https://www.sqlite.org/" target="_blank">
          <span>&#128211;</span>SQLite
        </a>
      </li>
    </center>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>
      Без товарища Змейки не было бы <s>ничего</s> этого сайта.<br>

      А без товарища Джанго он был бы сам не свой <i>(пожалуй, шутки мне сегодня не даются)</i>.<br>

      В общем, когда-нибудь здесь будет нормальная информация.<br>

      А пока, у меня нет фото настоящего питона, поэтому тут будет фото белки.
    </p>
    <a>
      <img src="{% static 'img/3.jpg' %}" width="600" height="400" alt="">
    </a>
  </article>
</div>
{% endblock %}