{% extends 'base.html' %}
{% load thumbnail %}
{% load user_filters %}
{% block title %} Пост {{ post|truncatechars:30 }} {% endblock %}
{% block content %}
<div class="row">
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <div class="card">
        <li class="list-group-item">
          Автор: <a href="{% url 'posts:profile' post.author %}">
            {{ post.author.get_full_name }}
          </a>
        </li>
        {% if post.group %}  
          <li class="list-group-item">
            Группа:
            <a href="{% url 'posts:group_list' post.group.slug %}">
              {{ post.group.title }}
            </a>
          </li>
        {% endif %}
        <li class="list-group-item">
          Дата публикации: {{ post.pub_date|date:"d E Y" }} 
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Всего постов автора: {{ post.author.posts.count }}
        </li>
      </div>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <div class="card">
      {% if post.image %}
        <div class="card-header">
          <p>
            {{ post.text }} 
          </p>
        </div>
        {% else %}
        <div class="card-body">
          <p>
            {{ post.text }} 
          </p>
        </div>
      {% endif %}
      {% if post.image %}
        <div class="card-body">
          {% thumbnail post.image "960x339" upscale=True as im %}
            <img class="card-img" src="{{ im.url }}">
          {% endthumbnail %} <br>
        </div>
      {% endif %}
      <div class="card-footer">
        <center>
          {% if user == post.author %}
          <button type="submit" class="btn btn-link">
            <a class="btn btn-dark" href="{% url 'posts:post_edit' post.id %}">
              Редактировать пост</a>
          </button>
          <button type="submit" class="btn btn-link">
            <a class="btn btn-dark" href="{% url 'posts:post_delete' post.id %}">
              Удалить пост</a>
          </button>
          {% endif %}
        </center>
      </div>
    </div>
  </article>
</div>
{% if user.is_authenticated %}
  <div class="card my-4">
    <h5 class="card-header">Добавить комментарий:</h5>
    <div class="card-body">
      <form method="post" action="{% url 'posts:add_comment' post.id %}">
        {% csrf_token %}      
        <div class="form-group mb-2">
          {{ form.text|addclass:"form-control" }}
        </div>
        <button type="submit" class="btn btn-dark">Отправить</button>
      </form>
    </div>
  </div>
{% endif %}

{% for comment in comments %}
  <div class="media mb-4">
    <div class="media-body">
      <h5 class="mt-0">
        <a href="{% url 'posts:profile' comment.author.username %}">
          {{ comment.author.username }}
        </a>
      </h5>
      <p>
        {{ comment.text }}
      </p>
      {% if user == comment.author %}
        <small><a href="{% url 'posts:delete_comment' comment.id %}"><span>&#10060;</span></a></small>
      {% endif %}
    </div>
  </div>

{% endfor %}
{% endblock %}
