{% extends 'base.html' %}
{% block title %} 
  Профайл пользователя {{ author.get_full_name }} 
{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="card"> 
    <div class="card-header"> 
      <h2>Все посты пользователя {{ author.get_full_name }}</h2>
    </div>
    <div class="card-body">
      <h5>Всего постов: {{ page_obj.paginator.count }}</h5>
      <h5>Подписчиков: {{ author.following.count }}</h5>
      <h5>Подписок: {{ author.follower.count }}</h5>
    </div>
    {% if request.user != author %}
      {% if following %}
        <a class="btn btn-lg btn-light"
          href="{% url 'posts:profile_unfollow' author.username %}" role="button">
          Отписаться
        </a>
      {% else %}
        <a class="btn btn-lg btn-dark"
          href="{% url 'posts:profile_follow' author.username %}" role="button">
          Подписаться
        </a>
      {% endif %}
    </div>
    <br>
    {% else %}
      </div>
      <br>
    {% endif %}
      {% for post in page_obj %} 
        <article>
          {% include 'includes/post.html' %}
        {% if not forloop.last %}{% endif %}  
        </article>  
      {% endfor %}
  <div>{% include 'posts/includes/paginator.html' %}</div>
</div>
{% endblock %}
